@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  position: relative;
}
#root,
.marvel-characters {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  height: 100%;
}
/*topo*/
.ribbon {
  padding: 5px;
  background-color: #ee171f;
}
.logo {
  max-width: 15%;
  max-height: 95px;
}
/* filtros */
.filters {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.filter-order {
  display: flex;
  align-items: center;
}
.filters-icon {
  padding: 5px;
  cursor: pointer;
}
/* removendo setas, navegação pelos direcionais do teclado ainda é possível */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input {
  border: 0;
  padding: 15px 0;
  border-radius: 10px;
  border-bottom: #9b9b9b solid 3px;
  margin-right: 10px;
}

select {
  border: 0;
  -webkit-appearance: none;
  padding: 15px;
  border-radius: 10px;
}
select::-ms-expand {
  display: none;
}
input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px #ee171f;
  border-color: #ee171f;
}
/*  Loader */
.loader {
  display: flex;
  padding: 20px 0px;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.loader::before {
  content: "";
  height: 50px;
  width: 50px;
  margin-bottom: 20px;
  border-radius: 50%;
  border: 5px solid #d8dde6;
  border-left-color: #ccc;
  animation: spin 1s linear infinite;
}
/*conteudo */
.content {
  flex-grow: 1;
  background-color: #f4f8fb;
}
@media screen and (min-width: 360px) {
  .content {
    padding: 20px;
  }
}
.centered {
  box-sizing: border-box;
  margin: auto;
  background-color: #fff;
  max-width: 1440px;
  border-radius: 8px;
  box-shadow: 0 2px 6px 0 rgba(69, 91, 99, 0.08);
  height: 100%;
  padding: 30px 35px;
}
.content-title {
  color: #ee171f;
  font-size: 36px;
  font-weight: 300;
}

.characters-list {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin: 20px 0;
}
.character {
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: #d8dde6 solid 1px;
  border-bottom: #ee171f solid 3px;
}
.character-image {
  border-radius: 50%;
}
.character-name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.44;
  color: #4a4a4a;
}
.character-real-name {
  font-size: 14px;
  line-height: 1.64;
  color: #ed1d24;
}
.character-details {
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.character-desc {
  flex-grow: 1;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 1.64;
  color: #4a4a4a;
}
.spacer {
  width: 35%;
  border-bottom: 3px solid #d8dde6;
}
/* navegação */
.pager {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: stretch;
}
.pager input {
  text-align: center;
  width: 50px;
}
.pager-button {
  background-color: #fff;
  border: 1px solid #c2cbd2;
  padding: 0 5px;
  cursor: pointer;
}
.pager-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}
.pager-button:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.pager-button:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*rodape*/
.bottom {
  border-top: 10px #ee171f solid;
  display: flex;
  flex-direction: column;
  height: 222px;
}
.section1 {
  background-color: #edeef0;
  flex-grow: 1;
}
.section2 {
  background-color: #e6e7e8;
  padding: 34px;
  text-align: center;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(1turn);
  }
}
